*{
    font-family: 'Montserrat', sans-serif;
}
.content{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient( to bottom, #5799cf, #3d1695);
}
h1{
    font-size: 50px;
    color: white;
    margin-bottom: -5px;
}
p{
    font-size: 20px;
    color: white;
}